
div.centro {
    text-align: center
    

}
#demotext {
    color: #e0eff2;
    background: #e0e3f1;
    font: italic bold Georgia, Serif;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
    color: #e0eff2;
    background: #03060e;
    font-size: 60px;
    }
